body{
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.bg{
	margin:0;
	padding:0;
	background: linear-gradient(rgba(192, 189, 186, 0.5), rgba(18, 19, 18, 0.5)), url(../images/set.jpeg) no-repeat center top fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari*/
	background-size: cover; /* version standardisée*/
}


.navbar {
    background-color: rgba(45, 45, 54, 0.705);
    font-family: 'Sarpanch', sans-serif;
    font-size: 0.8em;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: -1px;
}


h5{
    font-family: 'Sarpanch', sans-serif;
    font-size: 1.6em;
}
.simpl{
	font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
}

/* .imgPerso{
    max-width: 100%;
    height: auto;
} */

.actu{
    background-color :#282420;
}

.titre{
	font-family: 'Sarpanch', sans-serif;
    font-size: 3.5em;
    margin-top: 5em;
}


.aboutMe{
    font-family: 'Inconsolata', monospace;
    font-size: 0.8em;
}

.coder{
    font-family: 'Sarpanch', sans-serif;
    font-size: 1.4em;
}

#logoJS{
	max-height: 40px;
	max-width: 40px;
}

#logo{
	max-height: 60px;
	max-height: 60px;

}

#flag{
	max-width: 60px;
	max-height: 60px;
}
.img-fluid{
	max-width: 60px;
	max-height: 60px;
}
#xpepro{
	/* word-break: break-all; */
	max-width: 120px;
	max-height: 100px;
    border-radius: 30%;
}
.dipl{
	font-style: italic;
	font-size: 18px;
}


.back-to-top {
	background-color: #282520;
	color: white;
	position: fixed;
	bottom: 2em;
	right: 2em;
	padding: .5em 1em;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

[class*="container-fluid"]{
	border:2px solid black;
}
